<div class="row">
    <div class="col s12 m8 offset-m2">
        <h2 class="header center">Créer un nouveau Pokémon</h2>
        <div class="card-panel">
            <form (ngSubmit)="onSubmit()">

                <div class="section center">
                    <button type="submit" class="waves-effect waves-light btn">Créer</button>
                    &nbsp;
                    <a class="waves-effect waves-light btn" (click)="goBack()">Retour</a>
                </div>
            </form>
        </div>
    </div>
</div>